@import "../../styles/constants"

.project
	z-index: 2
	position: relative
	background-color: white
	display: block
	height: 100vh
	&__background
		top: -30px
		left: 10%
		position: absolute
		width: 45%
		height: 400px
		background-color: $accent-light