.header
	position: fixed
	display: flex
	color: white
	z-index: 3
	justify-content: space-between
	width: 100%
	padding: 15px 25px 4px 15px
	&__nav
		width: 40%
		display: flex
		padding: 0 50px
		justify-content: space-between
	&__link
		margin-right: 15px
	&__list
		height: 0
		overflow: hidden

