.header
	transition: .5s all ease
	position: fixed
	display: flex
	color: white
	z-index: 3
	justify-content: space-between
	padding-top: 25px
	width: 100%
	&_black
		color: black
	&__nav
		width: 40%
		display: flex
		justify-content: space-between
	&__list
		height: 0
		overflow: hidden

